body {
  min-height: 1px;
  background: #393E46;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #00ADB5;
  color: #fff;
}

#about {
  color:#fff;
}

#projects {
  background-color: #00ADB5;
}
footer {
  background-color: #00ADB5;
}
section{
    padding-top: 5rem;
}

#contact {
  color: #fff;
}