body {
  min-height: 1px;
  background: #3F72AF;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #DBE2EF;
}

#about {
  color:#fff;
}

#projects {
  background-color: #DBE2EF;
}
footer {
  background-color: #DBE2EF;
}
section{
    padding-top: 5rem;
}

#contact {
  color: #fff;
}